---
import { Image } from "astro:assets";

import NAME from "@/Name.ts";
import ComparisonCard, {
  type Card as CardData,
} from "./Components/ComparisonCard.astro";

const withoutUs: CardData = {
  type: "negative",
  title: `Without ${NAME}`,
  features: [
    "Endless scrolling through unorganized repositories",
    "No way to group related projects together",
    "Time wasted searching for specific repositories",
  ],
};

const withUs: CardData = {
  type: "positive",
  title: `With ${NAME}`,
  features: [
    "Intuitive folder organization for all your repositories",
    "Quick access to grouped projects and repositories",
    "Efficient workflow with a smart search for quick access",
  ],
};

const image = {
  url: "https://images.unsplash.com/photo-1607799632518-da91dd151b38?auto=format&fit=crop&w=800&q=80",
  alt: "Organization preview",
};
---

<section class="bg-white px-4 pt-6 pb-20 md:px-16 md:pt-20">
  <div class="mx-auto max-w-7xl space-y-10">
    <div class="space-y-4 text-center">
      <h2 class="text-text-primary text-4xl font-bold">
        Why Choose GitFolders?
      </h2>
      <p class="text-text-secondary mx-auto max-w-2xl text-xl">
        Experience the difference between chaos and organization
      </p>
    </div>
    <div class="grid items-center gap-16 md:grid-cols-2">
      <div class="order-1 space-y-8 md:order-2">
        <ComparisonCard data={withoutUs} />
        <ComparisonCard data={withUs} />
      </div>
      <div class="relative order-2 h-full md:order-1">
        <div
          class="h-[50vh] w-full overflow-hidden rounded-2xl shadow-xl md:h-[100vh]"
        >
          <Image
            src={image.url}
            alt={image.alt}
            class="h-full w-full object-cover"
            height={1000}
            width={1000}
          />
        </div>
        <div
          class="absolute -right-2 -bottom-8 rounded-lg bg-white p-3 shadow-lg md:-right-8 md:p-4"
        >
          <h3 class="text-accent text-3xl font-bold">75%</h3>
          <p class="text-text-secondary text-sm">Faster Repository Access</p>
        </div>
      </div>
    </div>
  </div>
</section>
