---
import { Image } from "astro:assets";
import { FeatureIcon, type Feature } from "./Features.tsx";

type FeatureCardProps = {
  feature: Feature;
};

const { feature } = Astro.props as FeatureCardProps;
const { icon, title, description, image } = feature;
---

<div
  class="group overflow-hidden rounded-xl border border-slate-950 bg-black shadow-md shadow-black transition-all hover:shadow-lg"
>
  <div class="relative h-48 overflow-hidden">
    <Image
      src={image}
      alt={title}
      class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-110"
      height={1000}
      width={1000}
    />
    <div
      class="absolute inset-0 bg-slate-950/10 transition-all group-hover:opacity-0"
    >
    </div>
  </div>
  <div class="p-6">
    <div class="mb-4"><FeatureIcon icon={icon} /></div>
    <h3 class="mb-3 text-xl font-semibold text-slate-50">
      {title}
    </h3>
    <p class="text-slate-300">{description}</p>
  </div>
</div>
