---
import { Image } from "astro:assets";

import Image1 from "@/assets/HowItWorks/1.png";
import Image2 from "@/assets/HowItWorks/2.png";
import Image3 from "@/assets/HowItWorks/3.png";
import Image4 from "@/assets/HowItWorks/4.png";
import Image5 from "@/assets/HowItWorks/5.png";
import Image6 from "@/assets/HowItWorks/6.png";
import Image7 from "@/assets/HowItWorks/7.png";

type HowToImage = {
  url: ImageMetadata;
  alt: string;
  hoverTitle: string;
};

const howToImages: HowToImage[] = [
  { url: Image1, alt: "Image 1", hoverTitle: "Add Folder" },
  { url: Image2, alt: "Image 2", hoverTitle: "Enter Folder Name" },
  { url: Image3, alt: "Image 3", hoverTitle: "Create Folder" },
  { url: Image4, alt: "Image 4", hoverTitle: "Add Repo to Folder" },
  { url: Image5, alt: "Image 5", hoverTitle: "Select Folder" },
  { url: Image6, alt: "Image 6", hoverTitle: "Add Repo" },
  { url: Image7, alt: "Image 7", hoverTitle: "Open Repo" },
];

const columnPosition = [
  "col-start-1",
  "col-start-2",
  "col-start-3",
  "col-start-4",
  "col-start-5",
  "col-start-6",
  "col-start-7",
];
---

<div class="grid grid-rows-2">
  {
    howToImages.map((image, index) => (
      <div
        id={`image-${index}`}
        class={`group ${columnPosition[index]} inline-block ${index % 2 === 0 ? "row-start-1" : "row-start-2"}`}
      >
        <div class="relative rounded-md border-2 group-hover:border-blue-700">
          <Image
            src={image.url}
            alt={image.alt}
            class="rounded-md object-contain"
          />
          <div class="absolute inset-0 flex items-center justify-center group-hover:bg-slate-950/50">
            <p class="hidden rounded-xl bg-black/50 px-2 py-1 text-center font-medium text-slate-100 group-hover:block">
              {image.hoverTitle}
            </p>
          </div>
        </div>
      </div>
    ))
  }
</div>
