---
import { Image } from "astro:assets";

import Image1 from "@assets/HowItWorks/1.jpg";
import Image2 from "@assets/HowItWorks/2.jpg";
import Image3 from "@assets/HowItWorks/3.jpg";
import Image4 from "@assets/HowItWorks/4.jpg";
import Image5 from "@assets/HowItWorks/5.jpg";
import Image6 from "@assets/HowItWorks/6.jpg";
import Image7 from "@assets/HowItWorks/7.jpg";

type HowToImage = {
  url: ImageMetadata;
  hoverTitle: string;
};

const howToImages: HowToImage[] = [
  { url: Image1, hoverTitle: "Add Folder" },
  { url: Image2, hoverTitle: "Enter Folder Name" },
  { url: Image3, hoverTitle: "Create Folder" },
  { url: Image4, hoverTitle: "Add Repo to Folder" },
  { url: Image5, hoverTitle: "Select Folder" },
  { url: Image6, hoverTitle: "Add Repo" },
  { url: Image7, hoverTitle: "Open Repo" },
];

const columnPosition = [
  "md:col-start-1 max-md:row-start-1",
  "md:col-start-2 max-md:row-start-2",
  "md:col-start-3 max-md:row-start-3",
  "md:col-start-4 max-md:row-start-4",
  "md:col-start-5 max-md:row-start-5",
  "md:col-start-6 max-md:row-start-6",
  "md:col-start-7 max-md:row-start-7",
];
---

<div class="grid grid-rows-2 justify-center gap-x-3 gap-y-16 px-5 md:gap-y-4">
  {
    howToImages.map((image, index) => (
      <div
        class={`group ${columnPosition[index]} inline-block max-md:w-52 ${index % 2 === 0 ? "md:row-start-1" : "md:row-start-2"}`}
      >
        <div
          id={`howToImage-${index}`}
          class="relative rounded-md border-2 shadow-md group-hover:border-blue-700 group-hover:shadow-blue-800"
        >
          <Image
            src={image.url}
            alt={image.hoverTitle}
            class="rounded-md object-contain"
          />
          <div class="absolute inset-0 flex items-center justify-center px-2 group-hover:bg-slate-950/50">
            <p class="hidden rounded-xl border border-slate-700 bg-black/70 px-2 py-1 text-center font-medium text-slate-50 group-hover:block">
              {image.hoverTitle}
            </p>
          </div>
        </div>
      </div>
    ))
  }
</div>

<!-- at the very bottom of the component: -->
<script>
  import "./leaderlines.js";
</script>
