---
import { twMerge } from "tailwind-merge";

import { AppUrl } from "@/Constants";

import { type PricingCardProps } from "./PricingCardData.ts";

const {
  subscriptionType,
  pricePerMonth,
  totalPrice,
  popularityBadge,
  rotation,
} = Astro.props as PricingCardProps;

let frequencyOfPayment = "paid every month";
switch (subscriptionType) {
  case "monthly":
    frequencyOfPayment = "paid every month";
    break;
  case "quarterly":
    frequencyOfPayment = "paid every 3 months";
    break;
  case "annually":
    frequencyOfPayment = "paid every year";
    break;
}
---

<a
  href={`${AppUrl}/login`}
  data-rotation-direction={rotation}
  class={twMerge(
    "pricing-card relative block w-64 transform space-y-2 rounded-2xl px-6 py-10 text-center",
    popularityBadge
      ? "bg-blue-600 text-slate-50"
      : "bg-slate-100 text-blue-950",
  )}
>
  {
    popularityBadge && (
      <div class="absolute top-2 right-2 rounded-full bg-blue-800 px-4 py-2 text-xs font-semibold text-slate-50">
        Most popular
      </div>
    )
  }
  <h4 class="text-xl font-medium capitalize">
    {subscriptionType}
  </h4>
  <h3 class="text-4xl font-bold">
    ${pricePerMonth}
  </h3>
  <h4 class="text-sm">Per month</h4>
  <p class="text-xs opacity-80">
    ${totalPrice}{" "}{frequencyOfPayment}
  </p>
</a>

<style>
  @media (min-width: 768px) {
    [data-rotation-direction="left"] {
      --rotation-angle: 6deg;
      rotate: calc(var(--rotation-angle) * -1);
      translate: calc(var(--move-x, 0px) * -1);
    }
    [data-rotation-direction="none"] {
      --hover-direction-multiplier: 0;
      rotate: calc(var(--rotation-angle) * var(--hover-direction-multiplier));
      translate: calc(var(--move-x, 0px) * var(--hover-direction-multiplier))
        var(--move-y, 0px);
    }
    [data-rotation-direction="right"] {
      --rotation-angle: 6deg;
      rotate: calc(var(--rotation-angle) * 1);
      translate: calc(var(--move-x, 0px) * 1) var(--move-y, 0px);
    }

    .pricing-card {
      transition:
        opacity 300ms ease-in-out,
        scale 300ms ease-in-out,
        translate 300ms linear,
        rotate 300ms linear;
    }

    .pricing-card:hover {
      scale: 1.1;
    }
    @supports (selector(:has(h1))) {
      .pricing-card:hover {
        --rotation-angle: 0deg;
      }
      [data-rotation-direction="left"]:hover
        ~ [data-rotation-direction="none"] {
        --hover-direction-multiplier: 1;
      }
      [data-rotation-direction="none"]:has(
        + [data-rotation-direction="right"]:hover
      ) {
        --hover-direction-multiplier: -1;
      }

      /* Next Sibling */
      .pricing-card:has(+ .pricing-card:hover),
      .pricing-card:hover + .pricing-card {
        --rotation-angle: 9deg;
        --move-x: 24px;
        --move-y: 12px;
        opacity: 0.8;
        scale: 0.9;
      }
      /* Next Next Sibling */
      .pricing-card:has(+ .pricing-card + .pricing-card:hover),
      .pricing-card:hover + .pricing-card + .pricing-card {
        --rotation-angle: 18deg;
        --move-y: 24px;
        opacity: 0.7;
        scale: 0.85;
      }
    }
  }
</style>
