---
import { Image } from "astro:assets";
import HeroImage from "@/assets/Hero/Cover.png";

import { CTA_Link } from "@/NavRoutes.ts";

import { ArrowRight, Folder } from "@utils/Icons.tsx";

// TODO: Enable when required
/* import TrustMetric from "./componentsTrustMetric.astro";
import UserMetric from "./componentsUserMetric.astro"; */

import StatBox, { type Stat } from "./Components/StatBox.astro";

const stats: Stat[] = [
  { value: "3x", label: "Fewer Clicks" },
  { value: "50%", label: "Increased Productivity" },
  { value: "2x", label: "Less Search Time" },
  // { value: "75%", label: "Time Saved" },
  // { value: "90%", label: "Faster Navigation" },
  // { value: "1-Click", label: "Smart Folder Creation" },
];

const heroImage = {
  url: HeroImage,
  // "https://images.unsplash.com/photo-1630514969818-94aefc42ec47?auto=format&fit=crop&w=800&q=80",
  //  "https://images.unsplash.com/photo-1618477388954-7852f32655ec"
  alt: "Dashboard preview",
} as const;
---

<section
  id="home"
  class="flex min-h-screen cursor-default items-center justify-center bg-slate-950 px-4 py-20 md:px-16"
>
  <div class="mx-auto grid max-w-7xl items-center gap-12 md:grid-cols-2">
    <div class="text-left text-balance">
      {/* <TrustMetric /> */}
      <h1
        class="mb-6 text-5xl leading-tight font-bold text-slate-100 md:text-6xl"
      >
        Organize GitHub <span class="text-blue-600">Repositories</span> Like Never
        Before
      </h1>
      <p class="mb-8 text-xl text-slate-300">
        Transform cluttered repositories into a streamlined, organized
        workspace. The missing folder structure for your GitHub repositories.
      </p>
      <div class="flex items-center gap-x-4">
        <a
          href={CTA_Link.path}
          class="group flex cursor-pointer items-center gap-x-2 rounded-lg bg-blue-600 px-5 py-4 text-lg font-semibold text-slate-100 transition-colors hover:bg-blue-800 md:px-8 md:py-4"
        >
          <span>{CTA_Link.name}</span>
          <ArrowRight
            className="h-5 w-5 transition-transform group-hover:translate-x-2"
          />
        </a>
        {/* <UserMetric /> */}
      </div>
      <div class="mt-8 grid w-fit grid-cols-3 gap-8">
        {stats.map((stat) => <StatBox value={stat.value} label={stat.label} />)}
      </div>
    </div>
    <div class="relative h-full">
      <div
        class="relative aspect-square w-full overflow-hidden rounded-lg md:aspect-[6/5]"
      >
        <Image
          src={heroImage.url}
          alt={heroImage.alt}
          class="h-full w-full object-contain"
          width={1000}
          height={1000}
          loading="eager"
        />
      </div>

      <div
        class="absolute -bottom-6 -left-2 flex items-center gap-x-3 rounded-lg border-1 border-black bg-slate-950 p-3 shadow-2xl shadow-black md:-left-6 md:p-4"
      >
        <Folder className="h-10 w-10 text-blue-600" />
        <div>
          <p class="font-semibold text-slate-100">Smart Organization</p>
          <p class="text-sm text-slate-300">Like Never Before</p>
        </div>
      </div>
    </div>
  </div>
</section>
