---
export type Card = {
  type: "positive" | "negative";
  title: string;
  features: string[];
};

type Props = {
  data: Card;
};

const { data } = Astro.props as Props;
const { type, title, features } = data;

const isPositive = type === "positive";
const bgColor = isPositive ? "bg-green-100" : "bg-red-100";
const borderColor = isPositive ? "border-green-200" : "border-red-200";
const titleColor = isPositive ? "text-green-700" : "text-red-700";
const badgeColor = isPositive ? "bg-green-200" : "bg-red-200";
const icon = isPositive ? "✓" : "✕";
const iconColor = isPositive ? "text-green-500" : "text-red-500";
---

<div class={`${bgColor} rounded-2xl border p-4 md:p-8 ${borderColor}`}>
  <h3 class={`mb-4 text-2xl font-bold ${titleColor} flex items-center`}>
    <span class={`${badgeColor}  mr-3 rounded-lg p-2`}>{title}</span>
  </h3>
  <ul class="space-y-4">
    {
      features.map((feature: string) => (
        <li class="text-text-primary flex items-start space-x-3">
          <span class={iconColor}>{icon}</span>
          <span>{feature}</span>
        </li>
      ))
    }
  </ul>
</div>
