---
import ROUTES, { HOME_PAGE_NAV_SECTIONS } from "@/NavRoutes";
import NAME from "@/Name";
import Logo from "@/assets/logo.svg";
import SignoutButton from "./SignoutButton";
import { Image } from "astro:assets";
import {Menu,X as Close_Icon} from "@/utils/Icons";

type Props = {
  isDashboardPage?: boolean;
};

const isDashboardPage = Astro.props.isDashboardPage ?? false;
---

<header
id="navbar"
  class="fixed top-0 z-50 flex h-16 w-full items-center justify-between rounded-b-md bg-black/70 px-4 shadow-xl backdrop-blur-sm md:px-16"
>
  <!-- Logo Container -->
  <a href={ROUTES.home.path}>
    <div class="flex cursor-pointer items-center gap-x-2">
      <Image src={Logo} alt="GitFolders Logo" class="size-10" loading="eager" />

      <span class="text-lg font-semibold text-slate-100">{NAME}</span>
    </div>
  </a>
  <!-- Auth Button Container -->
  <div class="hidden md:flex items-center gap-x-2">
    {!isDashboardPage ?(<a
      href={ROUTES.login.path}
      class="border-blue-600 hover:border-blue-800 cursor-pointer rounded-lg border-2 px-3 py-2 font-medium text-slate-100  transition-all"
    >
      {ROUTES.login.name}
    </a>
    <a
      href={ROUTES.signup.path}
      class="bg-blue-600 hover:bg-blue-800 cursor-pointer rounded-lg px-3 py-2 font-medium text-slate-100 transition-all"
    >
      {ROUTES.signup.name}
    </a>
    ):(
    <SignoutButton client:visible/>
    )}
  </div>
    
  <!-- Mobile Nav Bar -->
    <!-- Mobile Menu Button -->
    <div 
      id="mobile-menu-button"
      onclick="toggleMobileMenu()"
      class="md:hidden text-slate-100"
    >
    <Menu className="size-6"/>
  </div>
</header>

<!-- Mobile Menu Panel -->
 <nav id="mobile-menu-panel" class="hidden fixed inset-0 space-y-10 px-4 py-10 z-50 w-full h-full flex-col items-center justify-end gap-y-3 bg-slate-950">
  <div
    onclick="toggleMobileMenu()"
    class="absolute top-2 right-2 cursor-pointer rounded-full  p-2 text-slate-100 transition-all hover:scale-110"
  >
    <Close_Icon className="size-6" />
  </div>
  <ul class="font-semibold  text-3xl text-slate-100 flex flex-col items-center justify-center gap-y-5">
    {
      HOME_PAGE_NAV_SECTIONS.map((section) => (
        <li onclick="toggleMobileMenu()">
          <a
            href={section.path}
          >
            {section.name}
          </a>
        </li>
      ))
    }
  </ul>
  <!-- Auth Button Container -->
  <div class="flex flex-col justify-center items-center text-2xl w-full gap-y-4">
    {!isDashboardPage ?(<a
      href={ROUTES.login.path}
      class="border-blue-600  text-center w-full hover:border-blue-800 cursor-pointer rounded-lg border-2 px-3 py-2 font-medium text-slate-100  transition-all"
    >
      {ROUTES.login.name}
    </a>
    <a
      href={ROUTES.signup.path}
      class="bg-blue-600 w-full text-center  hover:bg-blue-800 cursor-pointer rounded-lg px-3 py-2 font-medium text-slate-100 transition-all"
    >
      {ROUTES.signup.name}
    </a>
    ):(
    <SignoutButton client:visible/>
    )}
  </div>
 </nav>

<script is:inline>
  function toggleMobileMenu() {
    document.getElementById("navbar")?.classList.toggle("hidden");
    document.getElementById("mobile-menu-button")?.classList.toggle("hidden");
    document.getElementById("mobile-menu-panel")?.classList.toggle("hidden");
    document.getElementById("mobile-menu-panel")?.classList.toggle("flex");
    document.body.classList.toggle("overflow-y-hidden");
  }
</script>
