---
import "@styles/global.css";

import Navbar from "@components/Navbar/Navbar.astro";
import Menu from "@components/Navbar/Menu.astro";
import Footer from "@components/Footer.astro";

import { DASHBOARD_NAV_SECTIONS } from "@/NavRoutes";
import SharedHead from "./SharedHead.astro";

type Props = {
  title?: string;
  description?: string;
};
const {
  title = "GitFolders",
  description = "GitFolders is a Chrome extension that helps you organize GitHub repositories into custom folders, making it easier to manage your projects. GitFolders also supports cloud syncing.",
} = Astro.props;

const url = Astro.url.origin;
---

<html lang="en">
  <head>
    <script>
      import { supabase } from "@lib/supabase";
      import ROUTES from "@/NavRoutes";

      const checkSession = async () => {
        const {
          data: { session },
        } = await supabase.auth.getSession();
        if (!session) {
          window.location.href = ROUTES.login.path;
        }
      };

      // Run check when page loads
      checkSession();
    </script>
    <SharedHead title={title} description={description} url={url} />
  </head>
  <body>
    <Navbar isDashboardPage={true} />
    <aside class="max-md:hidden">
      <Menu NAV_SECTIONS={DASHBOARD_NAV_SECTIONS} />
    </aside>
    <slot />
    <Footer />
  </body>
</html>
